<div class="next_courses_block">
    <h2>Cours à venir</h2>
    {% if schedules|length > 0 %}
    <ul>
        {% for schedule in schedules %}
            <li>
                <a href="{{  path('course_display', { 'id' : schedule.id } )  }}" class="btn btn-inverse btn-mini"><i class="icon-white icon-play-circle"></i></a> <b>Le {{ schedule.date|date('d/m') }} à {{ schedule.date|date('H') }}h{{ schedule.date|date('i') }}</b>:<br />
                {{ schedule.type.name }} 
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <ul>
        <li class="text-error">Aucun cours à venir !</li>
    </ul>
    {% endif %}
</div>