{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

<h1>{{ category.name }}</h1>

<p><i>{{ category.description }}</i></p>
<hr />

{% if topics|length > 0 %}
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Réponse(s)</th>
        </tr>
    {% for topic in topics %}
        <tr>
            <td>
                <a href="{{ path('forum_display_topic', {'id': topic.id }) }}">{{ topic.title }}</a>
            </td>
            <td>{{ topic.author }}</td>
            <td>{{ topic.posts|length }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<a href="{{ path('forum_index') }}" class="btn btn-inverse"><i class="icon-white icon-chevron-left"></i> Retour à l'index</a>
<a href="{{ path('forum_add_topic', {'category_id': category.id}) }}" class="btn btn-success">Ajouter un sujet</a>

{% endblock %}