{% if not post is null %}
{% set user = post.author %}
<div class="forum-post-inner">
    <dl class="forum-post-profile">
        <dt>
            <a href="{{ path('user_profile', {'username': user.username }) }}">{{ user_photo(user, 'user_photo') }}</a><br>
            <a href="{{ path('user_profile', {'username': user.username }) }}">{{ user.username }}</a>
        </dt>
        <!--<dd><strong>Rôle:</strong> [ROLE]</dd>-->
        <dd><strong>Promotion:</strong> {{ user.promo }}</dd>
    </dl>
    <div class="forum-post-body">
        <p class="forum-post-date">{{ post.updatedAt|date('d/m/Y à H:i:s') }}</p>
        
        {% if user == app.user or is_granted('ROLE_TEACHER') %}
            <ul class="forum-profile-icons">
                <li class="delete-icon"><a href="{{ path('forum_delete_post', {'id': post.id }) }}" class="btn btn-danger btn-mini"><i class="icon-white icon-remove-sign"></i></a></li>
                <li class="edit-icon"><a href="{{ path('forum_edit_post', {'id': post.id }) }}" class="btn btn-warning btn-mini"><i class="icon-white icon-edit"></i></a></li>
            </ul>
        {% endif %}

        <div class="forum-post-content">
            {{ post.content|raw }}
        </div>
    </div>
</div>
{% endif %}