<div id="hmenu">
    <ul id="trans-nav">
        <li><a class="mainmenu" href="{{ path('intranet_core_home_index') }}">Accueil</a></li>

        <li><a class="mainmenu" href="{{ path('planning') }}">Cours</a></li>

        <li><a class="mainmenu" href="{{ path('projects') }}">Projets</a></li>

        <li><a class="mainmenu" href="#">Services</a>
                <ul>
                        <li><a href="#">Demande matériel</a></li>
                        <li><a href="#">Prevoir un depart</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Communauté</a>
                <ul>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Wiki</a></li>
                        <li><a href="{{ path('user_trombi') }}">Promotion</a></li>
                </ul>
        </li>

        <li>
            <a class="mainmenu" href="{{ path('fos_user_profile_show') }}">Mon Compte 
                {% if (mail is defined and not mail) or (not mail is defined and is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                        ({{ app.user.username }}) 
                {% endif %}
            </a>
            
            <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">Gestion du compte</a></li>
                    <li><a href="#">Mes notes</a></li>
                    <li><a href="{{ path('user_list') }}">Lister les profils</a></li>
            </ul>
        </li>
        <li class="mainmenu" id="dernier"><a href="#">Nous contacter</a></li>
    </ul>
</div>