<div id="hmenu">
    <ul id="trans-nav">
        <li><a class="mainmenu" href="{{ path('intranet_core_home_index') }}">Accueil</a></li>

        <li><a class="mainmenu" href="{{ path('planning') }}">Cours</a>
                <ul>
                        <li><a href="{{ path('planning') }}">*Gérer les cours*</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="{{ path('projects') }}">Projets</a></li>

        <li><a class="mainmenu" href="#">Services</a>
                <ul>
                        <li><a href="#">Demande matériel</a></li>
                        <li><a href="#">Prevoir un depart</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Communauté</a>
                <ul>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Wiki</a></li>
                        <li><a href="#">Promotion</a></li>
                </ul>
        </li>

        <li>
            <a class="mainmenu" href="#">Mon Compte {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}({{ app.user.username }}) {% endif %}</a>
            
            <ul>
                    <li><a href="#">Gestion du compte</a></li>
                    <li><a href="#">Mes notes</a></li>
                    <li><a href="#">*Lister les profils*</a></li>
            </ul>
        </li>
        <li class="mainmenu" id="dernier"><a href="#">Nous contacter</a></li>
    </ul>
</div>