<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Intranet{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/intranet.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/datetimepicker.css') }}" type="text/css" />
    {% endblock %}

</head>
<body>
    <div id="maincontainer" class="container">
        <div class="row">
            {% block header %}
                {% include 'IntranetCoreBundle:Core:header.html.twig' %}
            {% endblock %}
        </div>
        <div class="row">
            {% block horizontal_menu %}
                {% include 'IntranetCoreBundle:Core:hmenu.html.twig' %}
            {% endblock %}
        </div>
        <div class="row">
            <div id="content">
                <div id="topAlert">
                    {% block alert_box %}
                        {% for flashMessage in app.session.flashbag.get('alert') %}
                            <div class="alert">
                                {{ flashMessage | trans | raw }}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('info') %}
                            <div class="alert alert-info">
                                {{ flashMessage | trans }}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage | trans }}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-error">
                                {{ flashMessage | trans }}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block footer %}
                {% include 'IntranetCoreBundle:Core:footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
	
	
    {% block javascripts %}
        {# Javascript files used by bootstrap Twitter #}
		<script type="text/javascript" src="{{ asset('js/jquery-2.0.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
		<script type="text/javascript">
			$(".form_datetime").datetimepicker({
				format: "dd/mm/yyyy hh:ii"
			});
		</script>  
    {% endblock %}
</body>
</html>