{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

    <h1>{{ thematic.name }}</h1>
    
    {#
    {% if article.articleId.active == false %}
    <p>Attention : Cet article a été supprimé.</p>
    {% endif %}
    <p>Dernière modification le {{ article.date|date('m/d/Y') }} par {{ article.userId.username }}</p>
    
    <ul>
        <li><a href="{{ path('wiki_edit', { 'id_article' : article.articleId.id } ) }}">Editer</a></li>
        <li><a href="{{ path('wiki_delete', {'id_article' : article.articleId.id})}}">Supprimer</a></li>
        <li><a href="{{ path('wikiArticle_history', { 'id_article' : article.articleId.id } ) }}">Voir l'historique</a></li>
    </ul>

    <br/><br/>
    #}

    {{ thematic.description|raw }}
    
    {% if thematic.articles|length > 0 %}
        <hr />
        <p>Articles en rapport:</p>
        <ul>
        {% for article in thematic.articles if article.active %}
            <li><a href="{{ path('wiki_display_article', { 'id_article' : article.id } ) }}">{{ article.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}