{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

    <h1>Modifications de {{ article.name }}</h1>
    
<ul>
    {% for modif in history %}
        <li>
            {% if modif.type == 1 %}Création
            {% elseif modif.type == 0 %}Modification
            {% else %}Suppression
            {% endif %} de <a href="{{ path('wiki_display_change', { 'id_modif' : modif.id } ) }}">{{ modif.article.name }}</a> par {{ modif.user.username }} le {{ modif.date | date('m/d/Y') }}</li>
    {% endfor %}
</ul>

{% endblock %}