{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<h1>{{type.name}}</h1>
    <div>
        <p>{{type.description}}</p>
        <br/>
        <h3>Examens
        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('add_exam', {'id_typeCourse' : type.id}) }}" class="btn btn-success btn-small"><i class="icon-white icon-plus-sign"></i></a>
        {% endif %}</h3>

        {% if type.exams|length > 0 %}
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Moyenne</th>
                </tr>
                
                {% for exam in type.exams %}
                    <tr>
                        <td><a href="{{ path('display_exam', {'exam_id': exam.id}) }}">{{ exam.name }}</a></td>
                        <td>{{ exam.description }}</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
                
            </table>
        {% else %}
            <p class="text-error">Aucun examen n'est prévu pour cette matière !</p>
        {% endif %}
    </div>
{% endblock %}