{% set dayNames = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"] %}
{% set times = ["08h00", "08h30", "09h00", "09h30", "10h00", "10h30", "11h00", "11h30", "12h00", "12h30", "13h00", "13h30", "14h00", "14h30", "15h00", "15h30", "16h00", "16h30", "17h00", "17h30", "18h00", "18h30", "19h00", "19h30", "20h00", "20h30", "21h00", "21h30", "22h00", "22h30", "23h00", "23h30", "24h00"] %}

<table class="planning">
    <tr>
        <th></th>
        {% for date in datesOfWeek %}
           <th>{{ dayNames[loop.index - 1] }}<br /><em><small>{{ date }}</small></em>
        {% endfor %}
    </tr>
    {% for time in times %}
        <tr>
            <td>{{ time }}</td>
            {% for dayName in dayNames %}
                {% if schedule[dayName][time] is defined %}
                    <td style="background-color: blue; color: white;" rowspan="{{ schedule[dayName][time][0]['duration'] }}">
                        {{ schedule[dayName][time][0]['name'] }}<br />
                        <em>{{ time }} -> {{ schedule[dayName][time][0]['end'] }}  </em>
                    </td>
                {% else %}
                    {% if not rowspans[dayName][time] is defined %}
                        <td></td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<br />
<p class="center">
    {% set previousWeek = previousWeek|split('-') %}
    {% set nextWeek = nextWeek|split('-') %}
    <a href="{{ path('planning_date', {'day': previousWeek[0], 'month': previousWeek[1], 'year': previousWeek[2]}) }}" /><-- Semaine précédente</a> | 
    <a href="{{ path('planning_date', {'day': nextWeek[0], 'month': nextWeek[1], 'year': nextWeek[2]}) }}" />Semaine suivante --></a>
</p>