{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

<div class="row">
<div class="span7">
    <h1>News</h1>
    
    {% if is_granted('ROLE_TEACHER') %}
    <p>
        <a href="{{ path('add_news') }}">Ajouter une news</a>
    </p>
    {% endif %}
    
    {% for article in news %}
        <h3>
            {{ article.title }}<br />
            <small>{{ article.date|date('Y/m/d à H:i:s') }} - par {{ article.author.firstname }} {{ article.author.lastname }}</small>
        </h3>
        <p>{{ article.content }}</p>
        <br />
    {% endfor %}
</div>

<div class="span4" id="right-column">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="center">
    Bonjour <b>{{ app.user.firstName }} {{ app.user.lastName }}</b>
    <br />
    (<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>)
    <br /><br />
    {{ user_photo(app.user, 'user_photo') }}
</div>
    
{% render(controller('IntranetScheduleBundle:Render:nextCourses', {'max': 5})) %}
{# render(controller('IntranetProjectBundle:Render:nextDeadlines', {'max': 5})) #}
{% endif %}
</div>
</div>

{% endblock %}