{% extends "IntranetCoreBundle:Core:layout.html.twig" %}

{% block content %}

<h1>Profil de {{ user.firstName }} {{ user.lastName }}</h1>


<div>
{{ user_photo(user, 'user_photo') }}

<p>
    <strong>Adresse email</strong>: {{ user.email }}<br />
    <strong>Promotion</strong>: {{ user.promo }}
</p>    
</div>

<ul>
<li><a href="{{ path('display_user_marks', { 'user_id': app.user.id }) }}">Voir les notes</a></li>
<li><a href="#">Voir les projets</a></li>
</ul>

<p><a href="{{ path('user_profile_edit', {'user_id': user.id }) }}" class="btn btn-info">Editer</a></p>

{% endblock content %}
