{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% set statusColors = {'En Cours': '#FFFFFF', 'Terminé': '#FFFFFF'} %}

{% block content %}

<h1>Liste des tickets</h1>

{% if ticketsNR|length > 0 %}
<h3>Tickets nons lus</h3>
<table class="table">
    <tr>
        <th style="width: 150px;">Statuts</th>
        <th>Nom</th>
    </tr>
    
        {% for tick in ticketsNR %}
    <tr>
            <td>
                {{tick.state}}
            </td>
            <td>
               <a href="{{ path('show_ticket', {'id' : tick.id}) }}">{{tick.title}}</a><br/>
            </td>
            
    </tr> 
        {% endfor %}
    
</table>
{% endif %}

{% if ticketsR|length > 0 %}
<h3>Tickets lus</h3>
<table class="table">
    <tr>
        <th style="width: 150px;">Statuts</th>
        <th>Nom</th>
    </tr>
    
        {% for tick in ticketsR %}
        <tr>
            <td>
                {{tick.state}}
            </td>
            <td>
               <a href="{{ path('show_ticket', {'id' : tick.id}) }}">{{tick.title}}</a><br/>
            </td>
        </tr> 
        {% endfor %}

</table>
{% endif %}
    
{% endblock %}