{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

<h1>Liste des tickets</h1>

{% if ticketsNR|length > 0 %}
<h3>Tickets nons lus</h3>
{% for tick in ticketsNR %}
    [{{tick.state}}] <a href="{{ path('show_ticket', {'id' : tick.id}) }}">{{tick.title}}</a><br/>
{% endfor %}
{% endif %}

{% if ticketsR|length > 0 %}
<h3>Tickets lus</h3>
{% for tick in ticketsR %}
    [{{tick.state}}] <a href="{{ path('show_ticket', {'id' : tick.id}) }}">{{tick.title}}</a><br/>
{% endfor %}
{% endif %}
    
{% endblock %}