<div class="well" style="float: right;">
    <form method="POST" action="{{ path('wiki_search_results') }}" {{ form_enctype(form) }}>
        {{ form_widget(form.search) }}
        {{ form_errors(form.search) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn">Rechercher</button>
    </form>
</div>