{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<script>
function toggleChecked(status) {
$(".checkbox").each( function() {
$(this).attr("checked",status);
})
}
</script>

<h1>Ajout d'une promotion</h1>

{% if users|length == 0 %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-notice">
        <p class="text-error">{{ flashMessage }}</p>
    </div>
{% endfor %}
<form method="POST" action="{{ path('user_add_promo') }}" enctype="multipart/form-data">
    <fieldset>
    <label for="promo">Promotion:</label>
    <input type="number" name="promo" value="{{ 'now'|date('Y') + 1 }}" min="1984" max="{{ 'now'|date('Y') + 3 }}" />
    <label for="file">Fichier (.csv):</label>
    <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Selectionnez un fichier</span><span class="fileupload-exists">Changer</span><input type="file" name="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Supprimer</a>
        </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="icon-book"></i>Envoyer</button>
    </fieldset>
</form>
{% else %}
<form action="{{ path('user_add_promo_selection') }}" method="POST">
    <fieldset>
<table class="table">
    <tr>
        <th>Login</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Inscrire <br /><input type="checkbox" onclick="toggleChecked(this.checked)" /></th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td><input type="checkbox" class="checkbox" name="{{ loop.index }}" /></td>
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Inscrire" class="btn btn-success" />
</fieldset>
</form>
{% endif %}
{% endblock %}