{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<h1>Liste des utilisateurs</h1>

{% if is_granted('ROLE_TEACHER') %}
    <p>
        <a href="{{ path('user_add_promo') }}">Ajouter une promotion</a>
    </p>
    <br />
{% endif %}

<table class="table">
    <tr>
        <th>Photo</th>
        <th>Login</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Rôle</th>
        <th>Dernière visite</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user_photo(user, 'thumbnail') }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if 'ROLE_TEACHER' in user.roles %}
                    <em>Professeur</em>
                {% else %}
                    Étudiant
                {% endif %}
            </td>
            <td>
                {% if user.lastLogin is null %}
                    <span class="text-error">Jamais</span>
                {% else %}
                    Le {{ user.lastLogin|date('d/m/Y à H:i:s') }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}