{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<h1>Trombinoscope promotion {{ promo }}</h1>

<div class="well center">
<form action="{{ path('user_trombi_promo', { 'promo': promo }) }}" method="POST">
    <div>
        <label>Promotion:</label>
        <select name="promo">
            {% for i in (promo - 5)..(promo + 5) %}
                {% if i == promo %}
                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <input type="submit" value="Valider" />
    </div>
</form>
</div>

<table>
    {% for user in users %}
        {% if loop.index is divisibleby(6) %}
            <tr>
        {% endif %}
                    
        <td class="center">
            {{ user_photo(user, 'user_photo') }}<br />
            {{ user.firstName }} {{ user.lastName }}
        </td>
        {% if loop.index is divisibleby(6) %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}