{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<h1>Affichage d'un examen</h1>

<h2>{{ exam.name }}</h2>

<p>{{ exam.description }}</p>

<h2>Notes</h2>
{# if user.id == exam.courseType.teacher.id #}
<div>
    <div class="alert alert-info">
    <h3>Rappels</h3>
    <p>Le fichier CSV envoyé doit correspondre à ces critères:<br /></p>
    <ul>
        <li>Il contient 3 colonnes: login, note, commentaire</li>
        <li>La première ligne est réservé au nom des colonnes</li>
        <li>Il n'est pas obligatoire de mettre un commentaire à chaque note</li>
        <li>Le caractère de séparation des données est le ";" et non la ","</li>
    </ul>
    </div>
    <form method="POST" action="{{ path('add_marks', {'exam_id' : exam.id}) }}" enctype="multipart/form-data">
    <fieldset>
    <label for="file">Fichier (.csv):</label>
    <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Selectionnez un fichier</span><span class="fileupload-exists">Changer</span><input type="file" name="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Supprimer</a>
        </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="icon-book"></i>Ajouter des notes</button>
    </fieldset>
</form>
<hr />
</div>
{# endif #}

{% if marks|length > 0 %}
    <table class="table">
        <tr>
            <th>Login</th>
            <th>Note</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
        
        {% for mark in marks %}
            <tr>
                <td>{{ mark.user.lastName }} {{ mark.user.firstName }}</td>
                <td>{{ mark.value }}/{{ exam.maxMark }}</td>
                <td>{{ mark.comment }}</td>
                <td>
                    <div id="edit_mark"></div>
                    <a class="edit_button" data-markId="{{ mark.id }}" href="#{# path('edit_mark', {'exam_id' : exam.id, 'mark_id': mark.id}) #}" id="edit_mark_link" 
                       onClick="loadForm()">Editer</a> / 
                    <a href="{{ path('delete_mark', {'exam_id' : exam.id, 'mark_id': mark.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="text-error">Aucune note n'a été rentrée pour cette examen !</p>
{% endif %}

{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function loadForm(url) {
    $.ajax({
        url:url,
        methode: "GET",
        success: function(data){
            alert("done");
            $("#edit_mark").html(data);
        }
    });
};
    
    $(document).ready (function () { 
        $(".edit_button").click (function () {
           var elt = $(this);
           var markId = elt.attr("data-markId");
           console.log("markId", markId);
           var url = {{ path('edit_mark', {'exam_id' : "{{ exam.id }}", 'mark_id': ""})}} + "/" + markId;
           console.log(url);
           loadForm(url);
        });
    });
    
/*
$.ajaxSetup ({  
   cache: false  
});  
var ajax_load = "<img src='img/load.gif' alt='loading...' />";  

//  load() functions  
var loadUrl = "http://www.google.fr";  
$("#edit_mark_link").click(function(){
   $("#edit_mark").html(ajax_load).load(loadUrl);  
});
*/
</script>
{% endblock %}