{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Intranet{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/intranet.css') }}" type="text/css" />
    {% endblock %}
</head>
<body>
    <div id="login-box">
        <img src="{{ asset('img/logo-MTI.png') }}" alt="Logo MTI" />
        <div id="login-box-content">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>    
                {% trans_default_domain 'FOSUserBundle' %}

                {% if error %}
                    <p class="text-error">{{ error|trans }}</p>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">Login:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="_password" required="required" />

                    <input type="hidden" id="remember_me" name="_remember_me" value="on" />
                    <br />
                    <input type="submit" class="btn btn-success"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {# Javascript files used by bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>
{% endblock content %}