{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<div class="well">
    {{ form_errors(form) }}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <h3>Deadlines</h3>
        <ul class="deadlines unstyled" data-prototype="{{ form_widget(form.deadlines.vars.prototype)|e }}">
        {% for deadline in form.deadlines %}
            <li><div class="input-append date form_datetime">
			{{ form_widget(deadline.date) }}
			<span class="add-on"><i class="icon-th"></i></span>
		</div></li>
        {% endfor %}
        </ul>
        
        {{ form_rest(form) }}
        
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
// Get the ul that holds the collection of deadlines
var collectionHolder = $('ul.deadlines');

// setup an "Ajouter une deadline" link
var $addDeadlineLink = $('<a href="#" class="add_deadline_link">Ajouter une deadline</a>');
var $newLinkLi = $('<li></li>').append($addDeadlineLink);

jQuery(document).ready(function() {
    // add the "Ajouter une deadline" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addDeadlineLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addDeadlineForm(collectionHolder, $newLinkLi);
    });
});

function addDeadlineForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}
</script>
{% endblock %}